#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 1rem;
  width:100%;
  text-align: center;
  background-color: #0a0027e3;;
}
/*
#root img{
  width :10%;
  background-color: #ec0000;  
}*/
.busqueda {
  width:100%;
  padding: 5px;
  font-size: 20px;
  background-repeat: 10px;
  border: #dfd5d5;
}
.busqueda input{

  border: #dfd5d5;
  background-color: aliceblue;
}
.busqueda input::placeholder{
  color: #020101;
}

.tiempo{

}
.igual{
  margin: 1%;

}
.uno{
  background-color: #b3afc069;
  margin: 0 auto;
  width: 90%;
  height:60%;
}

.tres{
  background-color: #b3afc069;
  width: 20%;
  display: inline-block;




}
.cuatro{
  background-color: #b3afc069;
  width: 20%;
  display: inline-block;
  margin-left: 4%;




}
.imp{
  width :5%;

}

.imj{
  width :50%;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}



.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);

}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #ec0000;
}
/*************************************************/

